input[type=date] {
    font-size: 15px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.alert-container {
    position: fixed;
    z-index: 10000;
    top: 20px;
}

.logo {
    height: 90px;
    width: 90px;
}

.hero img {
    width: 100%;
}

.icon-64 {
    height: 64px;
    width: 64px;
}

.header *,
.hero,
.list-of-walking-routes,
.list-of-walking-routes .pagination *,
.advantages h2,
.list-of-guides {
    color: white;
}

.header ul a:hover,
.footer * {
    color: white;
}

.header .navbar {
    background-color: #6a10a1;
}

/* оформление всех списков в header */
.header ul {
    list-style: none;
}

/* оформление всех ссылок в header */
.header a {
    text-decoration: none;
}

main {
    flex-grow: 1;
}

/* секция краткое описание проекта */
.hero .container {
    background-color: #6a10a1;
    
    padding: 20px 20px;
}

/* размеры карусели изображений в кратком описании проекта */
.hero .carousel-size {
    width: 500px;
}

/* секция достоинство проекта */
.advantages .container {
    background-color: #6a10a1;
    
    padding: 20px 20px;
}

/* достоинство */
.advantages .advantages-item {
    background-color: #ae2222;
    height: 100%;
    
    padding: 20px 20px;
}

/* настройки карты 2Гис */
#map-2-gis {
    width: 100%;
    height: 500px;
}

/* секция доступных пешеходных маршрутов */
.list-of-walking-routes .container {
    background-color: #f25be897;
    
    padding: 20px 20px;
}

.search-field {
    width: 100%;
}



.table-walking-routes .row .choose-btn {
    height: 100%;
    padding: 5px;
    border-collapse: collapse;
    border: 2px solid black;
}

.list-of-walking-routes .row>* {
    padding: 0 !important;
}

.table-walking-routes .row>*>* {
    height: 100%;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px;
    padding-left: 10px;
    padding-right: 40px;
    border-collapse: collapse;
    border: 2px solid black;
}

.table-walking-routes .row .choose {
    overflow: visible;
}

.list-of-walking-routes .search-field {
    border-radius: 15px;
    padding: 5px 15px;
}


.pagination-bar .pagination a {
    height: 100%;
    background-color: var(--gray);
    border: 3px solid black;
    border-radius: 10px;
}


/* секция гидов */
.list-of-guides .container {
    background-color: #60085c;
    
    padding: 20px 20px;
}

.list-of-guides .row>* {
    padding: 0 !important;
}


.list-of-guides .experience-from-to>* {
    border-radius: 15px;
    padding: 5px 15px;
}

/* оформление таблицы, содержащую информацию о гидах */
.table-guides .row>* {
    padding: 5px;
}

.table-guides .row .choose-btn {
    height: 100%;
    padding: 5px;
    border-collapse: collapse;
    border: 2px solid black;
}

.table-guides .row>*>* {
    height: 100%;
    width: 100%;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 5px 20px;
    border-collapse: collapse;
    border: 2px solid black;
}

.table-guides .row .choose {
    overflow: visible;
}

.footer {
    background-color: #6a10a1;
}

.footer a {
    color: white;
}

/* общие стили */
.white-square-with-rounded-edges {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

a.button {
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}

button.button {
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}
