header {
    background-color: black;
    color: wheat;
    padding: 20px 0;
    background-image: url(images/background.jpg);
    background-size: cover;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-menu ul  {
    list-style: none;
    margin: 0;
    padding: 0;

}
.main-menu li {
    display: inline;
    margin-right: 10px;
} 
.name {  color:red;
}

.main-menu li:last-child{
    margin-right: 0;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

p {
    text-align: justify;
}

.footer {
    background-color: black;
    padding: 20px 0;
    color: white;
}
.avatar  {
    text-align: center;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.avatar{
    height: 100%;
}
.main-menu a {
    text-decoration: none;
    color: white;
}
.w-10 {
    width: 15%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
    
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black ;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.contact-me-btn {
    color: white;
    border-color: white;
}

table {
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.shrift {
    text-align: center;
}



.font {
    font-family: 'Oswald', sans-serif;
    text-align: center;

}


.bungee {
    font-family: 'Bungee Spice', cursive;

}