* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.calc-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: darkgray;
}
.screen {
  margin-bottom: 10px;
}
form {
  width: 100%;
}
input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  background-color: lightgray;
  color: green;
}
.buttons {
  display: flex;
}
.digits {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding-left: 8px;
}
.other {
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 5px;
  padding-right: 8px;
}
.key {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
}
