* {
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game{
    width: 500px;
    height: 500px;
    text-align: center;
}
/* игровое поле */
#board{
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

.cell{
    border: 2px solid black;
    float: left;
    width: 100px;
    height: 100px;
    font-size: 70px;
}

.msg {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid transparent;
}

.success {
    background-color: lightgreen;
    color: darkgreen;
    border-color: darkgreen;
}

.danger {
    background-color: lightcoral;
    color: darkred;
    border-color: darkred;
}