.login {
    text-align: center;
    margin: auto;
    color: red;

}

.pass {
    text-align: center;
    vertical-align: auto;
    color: red;
   
}

.main {
    text-align: center;
}

h1 {
    text-align: center;
}

.entrance {
   text-align: center;
   margin: 50px; 
   color:red;
}


.bg {
    background-image: url(images/2560x1440-px-explosion-helmet-PUBG-tie-video-games-1433439.jpg);
    height: 590px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rimuru {
    background-image: url(images/main_2x.jpg);
    height: 590px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

