*, *::before, *::after {
	box-sizing: border-box;
}

body{
	margin: 0;
	min-height: 100vh;
	position: relative;
	color: white;
	font-family: 'Roboto', sans-serif
}

body::after {
	content: "";
	display: block;
	height: 55px;
}

.header {

	padding: 1rem 0;
	position: sticky;
	top: 0;
	border-bottom: 5px solid rgb(255, 42, 0);
	background-color: gray;
	
	
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.main-menu {
	flex-grow: 1;

	
}

.main-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-menu ul li {
	display: inline;
	
}

.sidebar {
	padding: 1rem 0;
	width: 15rem;
	/* position: sticky; */
	/* top: 55px; */
	flex-shrink: 0;
}

.page-content {
	padding: 1rem;
}

.product-category-header {
	margin-top: 0;
}

.product-card {
	display: flex;
	height: 22rem;
	width: 31rem;
	border: 2px solid rgb(255, 42, 0);;
	border-radius: 5px;
}

.product-image {
	flex-basis: 50%;
	height: 100%;
}

.product-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-details {
	flex-basis: 50%;
	height: 100%;
	padding: 1rem;
}

.product-details header {
	font-weight: bold;
	font-size: 1.2rem;
}

.product-details .information {
	text-align: justify;
	font-size: 1.1rem;
	height: 65%;
	overflow: auto;
}

.control {
	text-align: center;
}

.control .btn {
	font-size: 1rem;
	color: white;
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 0;
	overflow: hidden;
}

.bg {
    background-image: url(images/7777.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.control .btn span {
	padding: 0.625rem 1.25rem;
	display: inline-block;
}

.control .price {
	background-color:	#333;
}

.control .buy {
	background-color: rgb(255, 42, 0);
	font-weight: bold;
}

.footer {
	padding: 1rem 0;
	border-top: 5px solid rgb(255, 42, 0);;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: red;
	background-color: gray;
}

.scroll-to-top-btn {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 1;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color:rgb(51, 51, 51);
	color: white;
	font-size: 1.5rem;
}

.d-flex {
	display: flex;
	
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.625rem;
}

@media all and (max-width: 768px) {
	
	.main-menu ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.profile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header .container {
		flex-direction: column;
	}

	main {
		flex-direction: column;
		align-items: center;
	}

	.header {
		position: static;
	}

	.product-card {
		flex-direction: column;
		width: 95%;
		max-width: 350px;
		height: auto;
	}

	.product-details .information {
		height: auto;
	}
}

.image-genshin {
	max-width: 50%;
	/* max-height: 50%; */
	object-fit: cover;
	border: solid 3px green;
	margin-bottom: 1rem;
}
.h1-contacts {
	text-align: center;
	font-size: 24px;
	text-decoration: underline;
	color: royalblue;
	margin: 100px;
	}

.container-contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: red;
}
.div-margin div {
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}
.h2-contacts h2 {
	text-align: center;
	/* text-align: center; */
	font-size: 20px;
	/* font-weight: normal; */
	/* padding-bottom: 0; */
	margin-bottom: 0;
}
.ul-li-contacts ul{
	font-size: 18px;
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	text-align: center;
}

.wlcm {
	color: red;
	text-align: center;
	margin: 250px;
}

.drag {
	background-image: url(images/genshin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
