/*
  #011627 -- nav-link
  #011627 -- background dark
  #83F3ED -- icons font color, heading-line
*/

.hero {
  background-color: #eaecf0;
}

.call-to-action {
  background-color: #011627;
  color:white;
}

.heading-line {
  width: 200px;
  height: 3px;
  background-color: #83F3ED;
}

i.bi{
  color: black;
  font-size: 2rem;   
}

.technologies .row{
  background-color: #011627;
  color: #83F3ED;
}

.technologies .row>*{
  height: 300px;
}

.technologies .row img {
  height: 300px;
  object-fit: cover;
}

.footer{
  background-color: white;
  color: black;
}

h1 {
  color: red;
}